<div class="z-50 fixed right-36 top-0 w-auto h-screen hidden lg:block">
	<ul class="h-full w-auto list-none flex flex-col justify-center">
			<li>
				<p class="font-montserrat text-white text-right text-base font-semibold hover:cursor-pointer">Wstęp</p>
				<p class="font-montserrat text-white text-right text-base font-light hover:cursor-pointer">Oferta</p>
			</li>
		</ul>
	</div>